flows.json
[
    {
        "id": "68b67d8763a5667b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77cb04dac995e0ea",
        "type": "mqtt in",
        "z": "68b67d8763a5667b",
        "name": "",
        "topic": "Alary/feeds/lamsn2out",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4048fda443f7ee61",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "6fdd6d2e2c573267",
                "5357744ab67c9850"
            ]
        ]
    },
    {
        "id": "feffeb374ef3d9d5",
        "type": "mqtt out",
        "z": "68b67d8763a5667b",
        "name": "",
        "topic": "Alary/feeds/lamsn2in",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4048fda443f7ee61",
        "x": 2180,
        "y": 440,
        "wires": []
    },
    {
        "id": "5357744ab67c9850",
        "type": "debug",
        "z": "68b67d8763a5667b",
        "name": "debug mqttIn",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "6fdd6d2e2c573267",
        "type": "switch",
        "z": "68b67d8763a5667b",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "clavier:",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mqtt:",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "fenetres:",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "porte:",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "4d16d03f19d7e482"
            ],
            [
                "bad4e36c63a026c2"
            ],
            [
                "81f33f71ebf467f7"
            ],
            [
                "977d2ef24ad2331c"
            ]
        ]
    },
    {
        "id": "a6ae8808319824c5",
        "type": "debug",
        "z": "68b67d8763a5667b",
        "name": "validation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2140,
        "y": 300,
        "wires": []
    },
    {
        "id": "94438155e98d0a37",
        "type": "debug",
        "z": "68b67d8763a5667b",
        "name": "debug alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2130,
        "y": 680,
        "wires": []
    },
    {
        "id": "40af201195cd60dc",
        "type": "switch",
        "z": "68b67d8763a5667b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "password",
                "vt": "global"
            },
            {
                "t": "neq",
                "v": "password",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 460,
        "wires": [
            [
                "6fa1efeb53ba8fa5"
            ],
            [
                "a527274cee00c5ab"
            ]
        ]
    },
    {
        "id": "a44cf7b8cfe39794",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "password",
        "payloadType": "global",
        "x": 740,
        "y": 480,
        "wires": [
            [
                "8867e1a62b5a54af"
            ]
        ]
    },
    {
        "id": "6fa1efeb53ba8fa5",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Send true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 440,
        "wires": [
            [
                "946880a0523e9e24"
            ]
        ]
    },
    {
        "id": "bdc3d8cb0eec8f4b",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "654321",
        "payloadType": "str",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "8867e1a62b5a54af"
            ]
        ]
    },
    {
        "id": "4d16d03f19d7e482",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Remove prefix",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "clavier:",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 500,
        "wires": [
            [
                "40af201195cd60dc"
            ]
        ]
    },
    {
        "id": "bad4e36c63a026c2",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Remove prefix",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "mqtt:",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 540,
        "wires": [
            [
                "ae631014139ee976"
            ]
        ]
    },
    {
        "id": "81f33f71ebf467f7",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Remove prefix",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "fenetres:",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 580,
        "wires": [
            [
                "ce837b5e073ed940"
            ]
        ]
    },
    {
        "id": "977d2ef24ad2331c",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Remove prefix",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "porte:",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 620,
        "wires": [
            [
                "489eba1d59fc8a0c"
            ]
        ]
    },
    {
        "id": "ae631014139ee976",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 540,
        "wires": [
            [
                "e8ac9ce9dd0335c7"
            ]
        ]
    },
    {
        "id": "b1348c8a4343e92d",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "OnDeploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "d4453b3cbb543ac7"
            ]
        ]
    },
    {
        "id": "d4453b3cbb543ac7",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Init global vars",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "global",
                "to": "123456",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fenetres",
                "pt": "global",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "porte",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ce837b5e073ed940",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fenetres",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 580,
        "wires": [
            [
                "21fdf76981db46fe"
            ]
        ]
    },
    {
        "id": "489eba1d59fc8a0c",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "porte",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 620,
        "wires": [
            [
                "21fdf76981db46fe"
            ]
        ]
    },
    {
        "id": "7da52de97840d06d",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "1",
        "payloadType": "str",
        "x": 830,
        "y": 720,
        "wires": [
            [
                "6c6e3ecc1127d480"
            ]
        ]
    },
    {
        "id": "21fdf76981db46fe",
        "type": "function",
        "z": "68b67d8763a5667b",
        "name": "Send alarm state",
        "func": "msg.payload = \"alarme:\";\nif (global.get(\"porte\") == \"1\") { //porte ouverte\n    msg.payload += \"Relax\";\n} else { // porte fermee\n    if (global.get(\"fenetres\") == \"1\") { // fenetre(s) ouverte(s)\n        msg.payload += \"Alert\";\n    } else { // fenetre(s) fermee(s)\n        msg.payload += \"Normal\";\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 600,
        "wires": [
            [
                "feffeb374ef3d9d5",
                "94438155e98d0a37"
            ]
        ]
    },
    {
        "id": "c956a8b51bedac53",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "0",
        "payloadType": "str",
        "x": 830,
        "y": 760,
        "wires": [
            [
                "2b72d367e34da1b9"
            ]
        ]
    },
    {
        "id": "32a8984a985a6541",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "1",
        "payloadType": "str",
        "x": 830,
        "y": 800,
        "wires": [
            [
                "2b72d367e34da1b9"
            ]
        ]
    },
    {
        "id": "6ddeba212033c62e",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "0",
        "payloadType": "str",
        "x": 830,
        "y": 680,
        "wires": [
            [
                "6c6e3ecc1127d480"
            ]
        ]
    },
    {
        "id": "df7822ca4239da37",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "654321",
        "payloadType": "str",
        "x": 810,
        "y": 620,
        "wires": [
            [
                "eef079ee356512b3"
            ]
        ]
    },
    {
        "id": "e8ac9ce9dd0335c7",
        "type": "debug",
        "z": "68b67d8763a5667b",
        "name": "debug passChng",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 540,
        "wires": []
    },
    {
        "id": "8867e1a62b5a54af",
        "type": "template",
        "z": "68b67d8763a5667b",
        "name": "clavier:",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "clavier:{{payload}}",
        "output": "str",
        "x": 960,
        "y": 480,
        "wires": [
            [
                "6fdd6d2e2c573267"
            ]
        ]
    },
    {
        "id": "6c6e3ecc1127d480",
        "type": "template",
        "z": "68b67d8763a5667b",
        "name": "fenetres:",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "fenetres:{{payload}}",
        "output": "str",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "6fdd6d2e2c573267"
            ]
        ]
    },
    {
        "id": "2b72d367e34da1b9",
        "type": "template",
        "z": "68b67d8763a5667b",
        "name": "porte:",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "porte:{{payload}}",
        "output": "str",
        "x": 970,
        "y": 780,
        "wires": [
            [
                "6fdd6d2e2c573267"
            ]
        ]
    },
    {
        "id": "eef079ee356512b3",
        "type": "template",
        "z": "68b67d8763a5667b",
        "name": "mqtt:",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mqtt:{{payload}}",
        "output": "str",
        "x": 970,
        "y": 620,
        "wires": [
            [
                "6fdd6d2e2c573267"
            ]
        ]
    },
    {
        "id": "3c332b3f136fd4b1",
        "type": "inject",
        "z": "68b67d8763a5667b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "123456",
        "payloadType": "str",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "8867e1a62b5a54af"
            ]
        ]
    },
    {
        "id": "a527274cee00c5ab",
        "type": "change",
        "z": "68b67d8763a5667b",
        "name": "Send false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 480,
        "wires": [
            [
                "946880a0523e9e24"
            ]
        ]
    },
    {
        "id": "946880a0523e9e24",
        "type": "template",
        "z": "68b67d8763a5667b",
        "name": "verrou:",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "verrou:{{payload}}",
        "output": "str",
        "x": 1920,
        "y": 440,
        "wires": [
            [
                "a6ae8808319824c5",
                "feffeb374ef3d9d5"
            ]
        ]
    },
    {
        "id": "4048fda443f7ee61",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://io.adafruit.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]